<!DOCTYPE html>
<ion-view>
     <ion-content>
         <img src="./img/good_details/picmmexport1494738823955.jpeg" class="pics"/>
         <img src="./img/good_details/picmmexport1494738820280.jpeg" class="pics"/>
         <img src="./img/good_details/picmmexport1494738832312.jpeg" class="pics"/>
         <img src="./img/good_details/picmmexport1494738829563.jpeg" class="pics"/>
         <img src="./img/good_details/picmmexport1494738834592.jpeg" class="pics"/>
         <img src="./img/good_details/picmmexport1494738837418.jpeg" class="pics"/>
         <img src="./img/good_details/picmmexport1494738845456.jpeg" class="pics"/>
         <img src="./img/good_details/picmmexport1494738843232.jpeg" class="pics" />
         <img src="./img/good_details/picmmexport1494738850242.jpeg" class="pics"/>
         <img src="./img/good_details/picmmexport1494738852322.jpeg" class="pics"/>
         <img src="./img/good_details/picmmexport1494738854504.jpeg" class="pics"/>
         <img src="./img/good_details/picmmexport1494738858107.jpeg" class="pics"/>
         <img src="./img/good_details/picmmexport1494738864882.jpeg" class="pics"/>
     </ion-content>
</ion-view>
