<!DOCTYPE html>
<ion-view>
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="首页" icon-on="ion-home" icon-off="ion-home"  href="#/home/slide">
            <ion-nav-view  name="home-page"></ion-nav-view>
        </ion-tab>
        <ion-tab title="购物车" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/home/cart">
            <ion-nav-view name="home-cart"></ion-nav-view>
        </ion-tab>
        <ion-tab title="全部分类" icon-off="ion-ios-keypad-outline" icon-on="ion-ios-keypad-outline" href="#/home/lei">
            <ion-nav-view name="home-lei"></ion-nav-view>
        </ion-tab>
        <ion-tab title="会员中心" icon-off="ion-ios-person-outline" icon-on="ion-ios-person-outline" href="#/home/myMember">
            <ion-nav-view name="home-myMember"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
