<ion-view>
  <ion-header-bar>
    <h1 class="title">
      会员中心
    </h1>
  </ion-header-bar>
  <ion-content>
      <div class="member">
        <img src="./img/pic/1.jpg" alt="2">
        <p>我是名字名字</p>
      </div>
      <div class="member2 row">
        <span class="col col-25">
          <div>
             <i class="ion-ios-paperplane-outline"></i>
             <h5>待付款</h5>
          </div>
        </span>
        <span class="col col-25">
          <div>
             <i class="ion-ios-paperplane-outline"></i>
             <h5>待发货</h5>
          </div>
        </span>
        <span class="col col-25">
           <div>
             <i class="ion-ios-paperplane-outline"></i>
             <h5>待收货</h5>
          </div>
        </span>
        <span class="col col-25">
           <div>
             <i class="ion-ios-paperplane-outline"></i>
             <h5>待评价</h5>
          </div>
        </span>
      </div>
      <div class="detail">
        <div>
          <ion-list>
            <ion-item>
              <i class="ion-calendar"></i>
              领取优惠券
            </ion-item>
            <ion-item>
              <i class="ion-calendar"></i>
              我的优惠券
            </ion-item>
          </ion-list>
        </div>
        <div>
          <ion-list>
            <ion-item>
              <i class="ion-calendar"></i>
              我的购物车
            </ion-item>
            <ion-item>
              <i class="ion-calendar"></i>
              我的关注
            </ion-item>
            <ion-item>
              <i class="ion-calendar"></i>
              我的足迹
            </ion-item>
            <ion-item>
              <i class="ion-calendar"></i>
              消息提醒设置
            </ion-item>
            <ion-item>
              <i class="ion-calendar"></i>
              我的全返
            </ion-item>
          </ion-list>
        </div>
        <div>
          <ion-list>
            <ion-item>
              <i class="ion-calendar"></i>
              余额提现
            </ion-item>
            <ion-item>
              <i class="ion-calendar"></i>
              余额明细
            </ion-item>
          </ion-list>
        </div>
      </div>
  </ion-content>
</ion-view>
