<ion-content style="padding: 20px 10px">
  <lable for="input1">
    省份：
    <input type="text" id="input1"class="inputContent" ng-change="changess()" ng-model="myValue">
  </lable>
  <lable for="input2">
    地市：
    <input type="text" id="input2" class="inputContent" >
  </lable>
  <lable for="input3">
    详细地址：
    <input type="text" id="input3" class="inputContent">
  </lable>
  <button class="button button-block button-balanced" ng-click="keep()">
   保存收货地址
  </button>
  <button class="button button-block button-assertive" ng-click="hui()">
    返回
  </button>
</ion-content>
